.input-holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 5px;

    padding: 10px;
    box-sizing: border-box;

    background-color: var(--gray-color-0);

    border-radius: var(--extra-small-border-radius);

    transition: all 0.25 ease;
}
.input-holder label{
    font-weight: 500;
}
.input-holder input[type="text"] {
    
    outline: none;
    border: solid 1px var(--dark-gray-color);

    border-radius: 3px;

    padding: 2px;
    box-sizing: border-box;

    width: 50%;

    transition: border 0.25 ease;


}
.input-holder select{
    padding: 2px;
    box-sizing: border-box;

    outline: none;
    border : solid 1px var(--dark-gray-color);

    border-radius: 3px;
}
.input-holder select:focus{
    border: solid 1px var(--warm-color-1);
}
.input-holder input[type="text"]:focus{
    border: solid 1px var(--warm-color-1);
}
.input-holder textarea{
    width: 100%;
    height: 100%;
    resize: none;

    outline: none;

    padding: 3px;
    box-sizing: border-box;
}
.input-holder textarea:focus{
    border: solid 1px var(--warm-color-1);
    border-radius: 3px;
}